.grid-image {
    width: 100%;
    margin-top: 3em;
    columns: 3;
    column-gap: 1em;
    text-align: center;

    .grid-image__non-images {
        padding: 100% 0;
        text-align: center;
    }
}

.image-container {
    position: relative;
    .image {
        width: 100%;
        border-radius: 1em;
        margin-bottom: 1em;
    }
    .remove-photo-button {
        display: none;
        padding: 0.5em 1.5em;
        font-size: 0.8em;
        font-weight: bold;
        color: #eb5757;
        border: 2px solid #eb5757;
        border-radius: 2em;
        background-color: transparent;
        position: absolute;
        right: 1em;
        top: 1em;
        cursor: pointer;
        animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        &:hover {
            color: #fff;
            background-color: #eb5757;
        }
    }

    .image__description {
        display: none;
        padding: 2em 1em;
        line-height: 1.2em;
        font-size: 1.3em;
        font-weight: 600;
        text-align: left;
        overflow-wrap: break-word;
        text-shadow: 1px 0px 10px #000;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
}

.image-container:hover > .remove-photo-button,
.image-container:hover > .image__description {
    display: block;
}

.server-error {
    width: 100%;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em 0;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
