.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    height: 3rem;
}

.header__input {
    min-width: 18rem;
    height: 100%;
    padding-left: 1em;
    font-size: 0.875em;
    border: 1px solid #BDBDBD;
    border-radius: .8em;
}





