<div class="modal">
    <form class="form">
        <h2 class="form__title">Você tem certeza?</h2>
        <div class="form__container">
            <fieldset class="form__fields">
                <label class="field__name">Senha:</label>
                <input type="text" class="field__input input" placeholder="*********" />
            </fieldset>

            <fieldset class="form__actions">
                <button class="button button--cancel">Cancelar</button>
                <button class="button button--red">Remover</button>
            </fieldset>
        </div>
    </form>
</div>