<div class="modal">
    <form class="form">
        <h2 class="form__title">Adicionar nova imagem</h2>
        <div class="form__container">
            <fieldset class="form__fields">
                <label class="field__name">Descrição:</label>
                <input type="text" class="field__input input" placeholder="Cesta de chocolates" />
           
                <label class="field__name">Imagem url:</label>
                <input type="text" class="field__input input" placeholder="https://images.unsplash.com/photo-1638913976381-5b8ed66c36d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
            </fieldset>

            <fieldset class="form__actions">
                <button class="button button--cancel">Cancelar</button>
                <button class="button button--green">Adicionar</button>
            </fieldset>
        </div>
    </form>
</div>