.alert {
    width: auto;
    min-width: 13em;
    height: 4.5em;
    line-height: 1.3em;
    padding: 1em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    right: 2em;
    top: 2em;
    z-index: 2;
    animation: fade-in 1s ease-in-out alternate;

    &::after {
        content: "";
        display: block;
        width: 20%;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.30);
        position: absolute;
        bottom: -5px;
        left: 0;
        animation: bottom-slide 1s ease-in-out infinite alternate 1s;
    }
    .alert__description {
        font-size: 0.9em;
        color: #c4c4c4;
    }
}

.success {
    border-bottom: 5px solid #3db46d;
}

.error {
    border-bottom: 5px solid #eb5757;
}

@keyframes bottom-slide {
    0% {
        left: 0;
        width: 40%;
    }
    100% {
        left: 80%;
        width: 20%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
